body{
    font-family: 'Arial';
    background-color: aliceblue;
    color: black;
    margin: 0;
    padding: 20px;
}

h1{
    color: blueviolet;
    text-align: center;
}

p{
    color: brown;
    font-size: 1.2em;
}

.intro{
    font-style: normal;
}

.fun-facts{
    font-weight: 200;
    color:blue;
}